


.darkroom-editor {
  img {
    display: none;
  }
  canvas {
    display: block;
    background: white;
    padding: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    max-width: 500px;
  }
}
