
.darkroom {
  &-editor {
    menu {
      margin: 0;
      padding: 0 8px;
      background:#444;
      color:#eee;
      display:inline-block;
      position: relative;
      border-radius: 3px;
      font-size: 20px;
      line-height: 1;
      &:before, &:after {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: solid rgba(255, 255, 255, 0);
      }
      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-width: 10px;
        bottom: -20px;
        left: 1em;
        margin-left: -10px;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-width: 9px;
        bottom: -18px;
        border-top-color: #444;
        left: 1em;
        margin-left: -9px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display:inline-block;
        li {
          display:inline-block;
          > button {
            padding:8px;
            border: inherit;
            background: inherit;
            color: inherit;
            &:hover {
              background:#666;
            }
          }
        }
      }
    }
  }
}